{% extends 'club/inicio.html' %}

{% block content %}
  <div class="post">
    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'editar_partido' pk=p.pk %}">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
    <a class="btn btn-default" href="{% url 'eliminar_partido' pk=p.pk %}">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
    {% endif %}
    <br><br>
    <h1><p>Fecha del encuentro: {{p.dorsal}}</p>
    <p>Competicion: {{p.competicion}}</p>
    <p>Instancia: {{p.instancia}}</p>
    <p>Marcador: {{p.marcador}}</p></h1>
  </div>
{% endblock %}
