{% extends 'club/inicio.html' %}

{% block content %}
  <div class="post">
    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'editar_rotacion' pk=r.pk %}">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
    <a class="btn btn-default" href="{% url 'eliminar_rotacion' pk=r.pk %}">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
    {% endif %}
    <br><br>
    <h1><p>Jugador: {{r.jugador}}</p>
    <p>Partido: {{r.partido}}</p>
    <p>Alineacion: {{r.alineacion}}</p>
    <p>Minutos jugados: {{r.minutos_jugados}}</p></h1>
  </div>
{% endblock %}
